@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.14rem;
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff; 
/* color: #111111; */
  height: 4.6rem;
  width: 100%;
  overflow: hidden;
  left: 0;
  z-index: 4;
}
.navbar .list ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
.navbar .logocontainer img {
  margin-top:0.4em ;
  height: 4.9vw;
  margin-right: 0rem;
  margin-left: 1.3vmax;
  transition: all 0.4s ease;
}
.navbar .logocontainer img:hover{
  text-decoration: none;
  opacity: 0.6;
}
.logocontainer{
  gap: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin-right: 1.9vw;
}
.navbar .list 
{ul{
  li{
    font-size: 1.19vmax;
    margin: 0 3vw;
  }
}
} 
.logoname{
  font-weight: 640;
  color: #010400;
}
.menu{
  display: none;
}
.main-body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ea3939;
}
#img1,
#img2 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 10;
  transition: all 4s ease;
  /* margin-top: 4.6rem; */
}
#img1 {
  position: absolute;
  left: 0;
  background-image: url(harr.jpg);
  clip-path: inset(0 50vw 0 0);
  background-size: cover;
  background-position: left;
  z-index: 1;
}
#img2 {
  position: absolute;
  right: 0;
  background-image: url(harry1.jfif);
  clip-path: inset(0 0 0 50vw);
  background-size: cover;
  background-position: right;
  z-index: 0;
}
#img1:hover {
  clip-path: inset(0 0 0 0);
  z-index: 2;
}
#img1:hover ~ img2 {
  clip-path: inset(0 100vw 0 0);
}
#img2:hover {
  clip-path: inset(0 0 0 0);
  z-index: 2;
}
#img2:hover ~ img1 {
  clip-path: inset(0 0 0 100vw);
}
.scroll1 {
  margin-top: 6rem;
  margin-bottom: 4rem;
  /* padding-top: 4.3em; */
  display: flex;
  justify-content: center;
  /* background-color:aquamarine; */

  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.hc {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.hc h3 {
  font-weight: 600;
}
.divider {
  display: flex;
  align-items: center;
  /* text-align: center; */
  color: #262a10;
  font-size: 1.1vw;
  font-weight: bold;
  letter-spacing: 1px;
  /* width: 73rem; */
  justify-self: center;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  /* display: inline-block; */
  width: 22rem;
  border-bottom: 1px solid #262a10;
  height: 1px; /* Ensures the line has a visible thickness */
}

.divider::before {
  margin-right: 1.9rem;
}

.divider::after {
  margin-left: 1.9rem;
}
.cards {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
  width: 100%;
  /* padding: 1rem; */
  margin-bottom: 3rem;
}
.cardimg {
  img {
    height: 14.9rem;
    width: 20em;
    object-fit: cover;
    border-radius: 1.9em;
    padding: 1rem;
    padding-bottom: 0;
  }
}
.desc {
  margin-top: 0.4em;
  padding-left: 1rem;
  h4 {
    font-weight: 640;
  }
}
.card1 {
  /* flex: 1 1 20%; */
  height: 20em;
  width: 20em;
  /* background-color: wheat; */
  border-radius: 1rem;
  box-shadow: 0px 3px 4px rgb(177, 174, 169);
}
.card2 {
  /* flex: 1 1 20%; */
  height: 20em;
  width: 20em;
  /* background-color: wheat; */
  border-radius: 1rem;
  box-shadow: 0px 3px 4px rgb(177, 174, 169);
}
.card3 {
  height: 20em;
  width: 20em;
  /* background-color: wheat; */
  border-radius: 1rem;
  box-shadow: 0px 3px 4px rgb(177, 174, 169);
  /* background-color: #fff ; */
}
.card1:hover,
.card2:hover,
.card3:hover {
  box-shadow: 0px 3px 6px rgb(132, 124, 114);
  transition: 0.2s ease;
  cursor: pointer;
}
body {
  display: grid;
  justify-items: center;
  background-color: #ffffff;
  align-items: center;
}
.hr1 {
  margin-top: 4em;
  margin-bottom: 0.4em;
  height: 0.1em;
  width: 100vw;
  background: #6c373d;
}
.plate {
  height: 6rem;
  width: 29vw;
  margin: 0 9%;
  /* background-color: rgb(44, 210, 210); */
  border-radius: 1em;
  box-shadow: 0px 6px 9px #8d7676;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  a {
    color: #111111;
  }
  transition: all 0.4s ease;
  align-self: center;
}
.plate:hover {
  background-color: #fbf5cb;
}
#social {
  margin: 1.5rem;
  color: #111111;
}
footer {
  margin-top: 4rem;
  height: 4rem;
  width: 100vw;
  /* background-color: #f9f5ea; */
  background-color: #ffe9f1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* width: 98.7vw; */
  overflow: hidden;
  left: 0;
  position: relative;
  color: #010400;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p i {
  margin-right: 0.5rem;
}
hr {
  color: black;
}
@media (min-width:320px) and (max-width: 600px)  {
  .navbar{
    height: 3.9rem;
    gap: 1rem;
  }
  .navbar .logocontainer .logoname{
    display: block;
    font-size: 1rem;
  }
  .logocontainer{
    gap: 0;
  }
  .navbar .logocontainer img{
    height: 3.6rem;
    margin-left: 0.6rem;
  }
  .navbar.list ul {
    text-align: center;
    padding: 0 0.1vw;
  }
  .navbar .list 
  {ul{
    li{
      margin: 0 1.9vw;
      display: none;
    }
  }
}
.menu{
  display: block;
  margin-right: 0.6rem;
} 
.scroll1{
  .cards{
    flex-direction: column; /* Stack divs vertically */
        align-items: stretch;
  }
}
.divider {
  display: flex;
  align-items: center;
  /* text-align: center; */
  color: #262a10;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 1px;
  justify-self: center;
  gap: 0.1rem;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  /* display: inline-block; */
  width: 3rem;
  border-bottom: 1px solid #262a10;
  height: 1px; /* Ensures the line has a visible thickness */
}
.divider::before {
  margin-right: 1rem;
}

.divider::after {
  margin-left: 1rem;
}
.plate{
  width: 83vw;
}
footer p{
  font-size: 0.9rem;
}
}
@media (min-width: 600px) and (max-width:900px) {
  .navbar{
    height: 3.9rem;
    gap: 12rem;
  }
  .navbar .logocontainer .logoname{
    display: block;
    font-size: 1.4rem;
  }
  .navbar .logocontainer img{
    height: 3.6rem;
    margin-left: 0rem;
  }
  .navbar.list ul {
    text-align: center;
    padding: 0 0.1vw;
  }
  .navbar .list 
  {ul{
    li{
      
      margin: 0 1.9vw;
      display: none;
    }
  }
}
.menu{
  display: block;
} 
#img1:hover {
  clip-path: inset(0 50vw 0 0);
  z-index: 2;
}
#img1:hover ~ img2 {
  clip-path: inset(0 100vw 0 0);
}
#img2:hover {
  clip-path: inset(0 0 0 50vw);
  z-index: 2;
}
#img2:hover ~ img1 {
  clip-path: inset(0 0 0 100vw);
}
.scroll1{
  .cards{
    flex-direction: column; /* Stack divs vertically */
        align-items: stretch;
        .card1{
          align-self: center;
        }
        .card2{
          align-self: center;
        }
        .card3{
          align-self: center;
        }
  }
}
.divider {
  display: flex;
  align-items: center;
  /* text-align: center; */
  color: #262a10;
  font-size: 1.9vw;
  font-weight: bold;
  letter-spacing: 1px;
  justify-self: center;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  /* display: inline-block; */
  width: 9rem;
  border-bottom: 1px solid #262a10;
  height: 1px; /* Ensures the line has a visible thickness */
}
.plate{
  width: 44vw;
}
}
